*{
	font-family: 'Lato', sans-serif;
}

/*Navbar*/
.navbar-default {
    background:transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li{
	padding: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
}

#primary-logo{
	padding: 10px;
}

/*Header*/

.first-section{
	background-image: url(../img/bg-header.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.logosecond{
	margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

#principal-logo {
    width: 30%;
    margin-top: 55px;
}

/*Second section*/

.thirdbox{
	text-align: center;
}

.titlethird{
	margin-top: 90px;
	font-weight: 900;
}

hr{
	width: 100px;
	border-style: double;
	border: 1px solid #C3B598;
	margin-bottom: -19px;
}

h4.subtitlethird{
	margin-top: 40px;
	color: #777;
}


h3.titleingredients{
	font-weight: 900;
	margin-left: 30px;
}

.list-italic{
	text-align: left;
	font-style: italic;
	color: #777;
}

.fa-3x{
	font-size: 36px;
	margin-top: 37px;
}

.description{
	margin-top: 20px;
}

.thirdcontainer{
	margin-bottom:90px;
}


